.header {
    display: flex;
    position: relative;
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
    justify-content: center;
}

.headerContainer {
 display: flex;
 object-fit: contain;
 justify-content: center;
 padding: 1rem;
 margin: 1rem;
 margin: auto 0;
}
.headerContainer img {
    width: 50%;
    margin: auto 0;
}